@import './reset.css';
@import './variables.css';
@import './header.css';
@import './uploads.css';
@import './footer.css';
@import './loader.css';
@import './graph.css';

* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to top, #4f6072, #8699aa);
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	flex-grow: 1;
}

.hide {
	display: none;
}
