.chart {
    min-width: 400px;
    min-height: 270px;
    align-self: normal;
    justify-self: stretch;
    flex: 1;
    margin-bottom: 0;
    margin-left: var(--spaces);
}

.chart header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 10px;
}

.chart header #drop-down {
    justify-self: self-start;
}

.chart #save-results {
    justify-self: self-end;
}

.chart-container {
    height: 90%;
    padding: 10px 0;
}

.d3chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 3rem 1rem; */
}

.d3chart-container h1 {
    font-weight: 800;
    font-size: 1.8rem;
}


/* have the svg occupy a sizeable portion of the wrapping container */

.d3chart-container svg {
    margin-top: 0.5rem;
    width: 90%;
    height: auto;
}