@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import 'bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

.heading-text > p {
    font-size: 16px;
}


.section-heading {
    margin-bottom: 60px;
}

.wellcome_area {
    background-image: url(../img/bg-img/welcome-bg.png);
    height: 400px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.welcome-thumb {
    width: 42%;
    position: absolute;
    bottom: 50px;
    right: 200px;
    z-index: 9;
}

#result {
    color: white;
}

.wellcome-heading > h2 {
    font-size: 72px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    z-index: 3;
}

.email {
    /* need to fix width with long file names*/
    background: #a093c0;
    color: white;
    height: 24px;
    max-width: 145px;
    margin-top: 5px;
    border: none;
    text-align: center;
    border-radius: 12px;
    padding: 0px 15px;
}

.form-control::-webkit-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #cec1f4;
    opacity: 1;
}

.form-control::placeholder {
    color: #cec1f4;
    opacity: 1;
}

.get-start-area .submit {
    background-color: #fb6639;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: none;
    height: 45px;
    min-width: 95px;
    line-height: 46px;
    text-align: center;
    border-radius: 22px 22px 22px 0px;
    margin-left: 10px;
    outline: none;
}

.get-start-area .submit:hover {
    background: #b2f82f;
    color: #fff;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.wellcome-heading > p {
    color: #fff;
}

.wellcome-heading > h3 {
    font-size: 332px;
    position: absolute;
    top: -134px;
    font-weight: 900;
    left: -12px;
    z-index: -1;
    color: #fff;
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.wellcome-heading {
    margin-bottom: 80px;
}

#load_file1, #load_file2{
    color: white;
    height: 45px;
    width: 150px;
    background-color: #35C3B8;
    margin-right: 10px;
    font-size: 20px;
    /* display: flex; */
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    outline: none;
} 

 #load_file1:hover, #load_file2:hover{
    cursor: pointer;
    color: black;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9bdb34;
    /* border-top: 16px solid #3498db; */
    margin-left: 20px;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }