.header {
	height: 66px;
	line-height: 66px;
	color: #fff;
	background-color: var(--primary-color);
	display: flex;
	padding: 0 10px;
	justify-content: space-between;
	box-shadow: 0 3px 20px 0px rgba(116, 116, 116, 0.6);
}

.header__logo {
	font-weight: 700;
	padding: 0 25px;
	float: left;
}

/* MENU */
.header .menu a {
	padding: 0 10px;
}
.header .menu a:hover {
	color: #c5cae9;
}
